body {
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    padding-left: 3em;
    padding-right: 3em;
}

.logo {
    font-size: 24px;
    font-weight:bolder;
    color: #F9FAF8;
}

.navLinks {
    font-size: 14px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.words p {
    font-size: 14px;
    color: #E5E7EB;
}

.navLinks p {
    text-align: right;
}

.navigation, .siteInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.navigation div, .siteInfo div, .infoImages div {
    flex: 1;
}

.siteInfo {
    gap: 5%;
    padding-bottom: 6em;
    padding-top: 3em;
}

.words button {
    background-color: #3882F6;
    color: white;
    padding: 6px 25px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.infoImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 5%;
}

.infoImages div p {
    text-align: center;
}

.infoImages div img {
    border-radius: 5px;
    border: 2px solid #3882F6;
}

.randomInfo {
    max-width: 800px;
    padding: 3em 5em;
}

.randomInfo h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 10px;
}

.quoteContainer {
    background-color: #E5E7EB;
}

.quoteContainer .spacing {
    padding: 5em 3em;
    max-width: 800px;
    margin: 0 auto;
}

.quote {
    font-size: 32px;
    font-weight: 100;
    color: #1F2937;
    text-align: left;
}

.quoteAuthor {
    font-weight: bold;
    text-align: right;
}